/* line 3, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/style.scss */
body {
  background-color: #f840a1;
}
/* line 12, ../sass/style.scss */
body nav {
  width: 100%;
  height: 70px;
  background-image: url("../img/flag.jpg");
  background-repeat: repeat-x;
  background-size: 5%;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}
/* line 24, ../sass/style.scss */
body nav .logo {
  width: 25%;
  padding: 25px;
}
/* line 28, ../sass/style.scss */
body nav .logo img {
  width: 100%;
}
